@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap');

body {
  width: 980px;
  font-family: 'Roboto', sans-serif;
  background-color:thistle;
  margin: 0 auto;
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}


.container {
  display: grid;
  gap: 20px;
}



.logo {
  width: 100px;
}

header nav a {
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  text-transform: uppercase;
  position: relative;
  transition: all 350ms;
}

header nav a:hover {
  background-color: #ffd369;
  color: #222
}

header nav a:hover::after {
  background: #fff;
  height: 3px;
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

/* header nav a:nth-child(1) {
  background-color: aqua;
}
header nav a:nth-child(2) {
  background-color: #ffd369;
} */

.image-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.image-section img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

footer {
  /* color: #fff; */
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: tomato;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color:teal;
}

code {
  background: #eee;
  padding: 15px;
  border-radius: 4px;
  margin-bottom: 15px;
  display: block;
}

img {
  cursor: pointer;
  width: 900px;
  max-width: 100%;
  aspect-ratio: 1.5/1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  color: white;
  border-radius: 10px;
  transition: all 0.3s ease;

  &:hover {
    transform: scale(1.05);
  }

  &:before {
    border-radius: 15px;
    position: relative;
    background: #ccc;
    z-index: 1;
    height: 100%;
    color: black;
    content: attr(alt);
    display: grid;
    place-items: center;
  }
}

.load-image {
  display: block;
  background: #ccc;
  height: 400px;
  width: 100%;
  border-radius: 15px;
  display: grid;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: black;
  opacity: 0.7;
  transition: all 0.3s ease;

  &:hover {
    opacity: 1;
  }
}
.ul_button {
  /* margin-left: 20px; */
}

.ul_button  li button {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}

.ul_button  li button button:hover {
  background-color: #111;
}

button {
  background-color:teal;
}

.footer {  left: 0;
  bottom: 0;
  width: 100%;
  background-color:tomato;
  color: #111;
  text-align: center;
}
#h1title {
    text-align: center;
    font-size: 2.5rem;
    color: tomato;
}